<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
      {% load static %}
    <img src="{% static 'instagram.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    Instagram Direct
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Login<span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
            <a class="nav-link" href="inform/">Information<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
