{% extends "base.html" %}


{% block content %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<div class="container">
    <div class="row">
        <h1>Landing page</h1>
    </div>
</div>

{% endblock %}
