<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Information</title>-->
<!--</head>-->
<!--<body>-->
    <!--<h1>Ви зробили попредню реєстрацію на семінар “Батьківська Наука”. Оплату квитка ви можете зробити на карту 5168 7573 6455 9544!!!ОБОВʼЯЗКОВО вкажіть своє ПІП в ПРИЗНАЧЕННІ ПЛАТЕЖУ!!!Вартість: Звичайний-110грн з відео записом-130грнп</h1>-->
<!--</body>-->
<!--</html>-->
{% extends "base.html" %}


{% block content %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<div class="container">
    <br><br>
    <h3>Оскільки ви ні ви, ні ваші діти не займаєтеся Бойовим Гопаком ви повинні оплатити квиток через PayPal</h3>
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="POST" >
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Оплати квиток</button>
        {% endbuttons %}
    </form>
</div>

{% endblock %}
