{% extends "base.html" %}


{% block content %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<div class="container">
    <br><br>
    <h3>Заповніть дані для рейстрації</h3>
    <form method="POST" >
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Зарейструватися</button>
        {% endbuttons %}
    </form>
</div>

{% endblock %}
